{% extends 'base.html' %}


{% block content %}


<!-- start: Content -->
<div id="content">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft">Зміна поточного тарифу</h3>
                <p class="animated fadeInDown">
                    Form <span class="fa-angle-right fa"></span> Form Element
                </p>
            </div>
        </div>
    </div>
    <div class="form-element">
        <div class="col-md-12 padding-0">
            <div class="col-md-8">
                <div class="panel form-element-padding">
                    <div class="panel-heading">
                        <h3>{{ category.name }}</h3>
                        <h4>{{ tariff.name }}</h4>
                    </div>
                    <div class="panel-body" style="padding-bottom:30px;">

                        <div class="col-md-12">
                            <h4>Поточний тариф</h4>

                            <div class="form-group"><label class="col-sm-3 control-label text-right">Значення
                                тарифу</label>
                                <div class="col-sm-4"><input type="number" class="form-control"
                                                             value="{{ tariff.value }}"
                                                             disabled>
                                </div>
                            </div>
                            <div class="form-group"><label class="col-sm-3 control-label text-right">Дата початку
                                дії</label>
                                <div class="col-sm-4"><input type="date" class="form-control"
                                                             value="{{ tariff.from_date }}"
                                                             disabled
                                >
                                </div>
                            </div>


                            <div style="padding-top: 0.5%">
                                <hr style="border: 1px solid">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <h4>Новий тариф</h4>

                            <div class="form-group"><label class="col-sm-3 control-label text-right">Значення
                                тарифу</label>
                                <div class="col-sm-4"><input type="number" class="form-control"
                                                             id="value"
                                >
                                </div>
                            </div>
                            <div class="form-group"><label class="col-sm-3 control-label text-right">Дата початку
                                дії</label>
                                <div class="col-sm-4"><input type="date" class="form-control"
                                                             id="from_date"
                                >
                                </div>
                            </div>
                            <div style="padding-top: 0.5%">
                                <hr style="border: 1px solid">
                            </div>
                        </div>




                        <div class="form-group">
                            <div class="col-md-12">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"><input type="button"
                                                                                  class=" btn btn-round btn-primary"
                                                                                  value="Зберегти"
                                                                                  id="btn_save">
                                    </font>
                                </font>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {{tariff}}
    <!-- end: content -->
</div>


<!-- plugins -->
<script src="{{ url_for('static', path='/asset/js/plugins/moment.min.js') }}"></script>
<script src="{{ url_for('static', path='/asset/js/plugins/jquery.knob.js') }}"></script>
<script src="{{ url_for('static', path='/asset/js/plugins/ion.rangeSlider.min.js') }}"></script>
<script src="{{ url_for('static', path='/asset/js/plugins/bootstrap-material-datetimepicker.js') }}"></script>
<script src="{{ url_for('static', path='/asset/js/plugins/jquery.nicescroll.js') }}"></script>
<script src="{{ url_for('static', path='/asset/js/plugins/jquery.mask.min.js') }}"></script>
<script src="{{ url_for('static', path='/asset/js/plugins/select2.full.min.js') }}"></script>
<script src="{{ url_for('static', path='/asset/js/plugins/nouislider.min.js') }}"></script>
<script src="{{ url_for('static', path='/asset/js/plugins/jquery.validate.min.js') }}"></script>


<!-- custom -->
<script src="{{ url_for('static', path='/asset/js/main.js') }}"></script>
<script type="text/javascript">

    let fd = document.getElementById("from_date");
    let v = document.getElementById("value");
    fd.valueAsDate = new Date();


    const btn = document.getElementById('btn_save');
    const url = '{{ url_for('tariff_change', tariff_id=tariff.id)}}';

    btn.addEventListener("click", () => {
    let data = get_data();
    console.log(data);
    setFetch(data);
    });



async function setFetch(data) {
try {
    const response = await fetch(url, {
                                    method: 'POST', // или 'PUT'
                                    body: JSON.stringify(data),
                                    headers: {
                                      'Content-Type': 'application/json'
                                    }});

    const message = await response.text();
    window.location.replace(`{{url_for('result_operation')}}?message=${message}`)

} catch (e) {
console.error(e);
}
}





function get_data() {
    let data = {}
    try {
        console.log('begin get data');

        data['value'] = v.value;
        data['from_date'] = fd.value;
        data['tariff_type_id'] = {{ tariff.tariff_type_id }};
        data['provider_id'] = {{ tariff.provider_id }};
        data['name'] = '{{ tariff.name }}';
        data['counter_id'] = {{ tariff.counter_id }};


    }
    catch (error){console.log('error in get_data', error)};

    return data
};


</script>

<!-- end: Javascript -->
</body>
</html>
{% endblock content %}