<!-- start: Header -->
<nav class="navbar navbar-default header navbar-fixed-top">
    <div class="col-md-12 nav-wrapper">
        <div class="navbar-header" style="width:100%;">
            <div class="opener-left-menu is-open">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </div>
            <a href="{{url_for('home')}}" class="navbar-brand">
                <b>Комунальні послуги</b>
            </a>

            <ul class="nav navbar-nav search-nav">
                <li>
                    <div class="search">
                        <span class="fa fa-search icon-search" style="font-size:23px;"></span>
                        <div class="form-group form-animate-text">
                            <input type="text" class="form-text" required>
                            <span class="bar"></span>
                            <label class="label-search">Type anywhere to <b>Search</b> </label>
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right user-nav">
                <li class="user-name"><span><a href="{{url_for('profile')}}">{{user.first_name}} {{user.last_name}}</a></span>
                </li>
                <li class="dropdown avatar-dropdown">
                    <a href="{{url_for('profile')}}" style="padding: 0px">
                        <img src="{{ url_for('static', path=user.avatar) }}" class="img-circle avatar" alt="user name"
                             data-toggle="dropdown" aria-haspopup="false" aria-expanded="false"/>
                    </a>

                </li>
                <li><a href="{{url_for('exit')}}" ><span>Вийти</span></a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- end: Header -->