{% extends 'base.html' %}


{% block content %}

<!-- start: Content -->
<div id="content">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft">Головна сторінка</h3>
            </div>
        </div>
    </div>
    <div class="col-md-12 top-20 padding-0">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading"><h3>Список категорій</h3></div>
                <div class="panel-body">

                    {% for d in debt %}
                    <div class="col-md-12" style="border: 1px solid blue; margin-bottom: 1em">
                        <div class="col-md-3" style="text-align: center">
                            <img src="{%if d.category_photo%}{{url_for('static', path=d.category_photo)}}{%else%}#{%endif%}"
                                 class="img-fluid rounded-start" alt="Електропостачання"
                                 style="width:100%; margin: 1%;">
                        </div>
                        <div class="col-md">
                            <div class="card-body">
                                <h3 class="card-title" style="margin:0px">{{ d.category_name }}</h3>
                                <p class="card-text">Актуальні тарифи:<br>
                                    {% for tariffs in d.debt %}
                                    {%for tariff in tariffs%}
                                    {%for t in tariff%}
                                    {%for t1 in t%}
                                    {% if t1.is_active%}
                                        &nbsp;&nbsp;&nbsp;&nbsp;{{t1.tariff_type_name}}: {{t1.value}}
                                    {%endif%}

                                    {%endfor%}
                                    {%endfor%}
                                    {%endfor%}
                                    {%endfor%}</p>
                                <p class="card-text">Поточні показники лічильників:
                                {% for tariffs in d.debt %}
                                    {%for tariff in tariffs%}
                                    {%for t in tariff%}
                                    {%for t1 in t%}
                                    {% if t1.is_active%}
                                    {%if t1.cur_readings%}
                                        &nbsp;&nbsp;&nbsp;&nbsp;{{t1.cur_readings}}
                                    {%endif%}
                                    {%endif%}

                                    {%endfor%}
                                    {%endfor%}
                                    {%endfor%}
                                    {%endfor%}</p>
                                <h4 class="card-text" style="color: {%if d.total_debt|int <= 0%}green{%else%}red{%endif%}">Заборгованість: {{d.total_debt}}</h4>

                            </div>
                        </div>
                    </div>
                    {% endfor %}


                    <div>
                        <strong style="font-size: 1.5em;">Сумарна заборгованість по всім категоріям складає - {{ total_debt }}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>{%for d in debt%}{{d}}<br><br>{%endfor%}</div>
</div>


<!-- end: content -->


<!-- plugins -->
<script src="{{ url_for('static', path='/asset/js/plugins/moment.min.js') }}"></script>
<script src="{{ url_for('static', path='/asset/js/plugins/fullcalendar.min.js') }}"></script>
<script src="{{ url_for('static', path='/asset/js/plugins/jquery.nicescroll.js') }}"></script>
<script src="{{ url_for('static', path='/asset/js/plugins/jquery.vmap.min.js') }}"></script>
<script src="{{ url_for('static', path='/asset/js/plugins/maps/jquery.vmap.world.js') }}"></script>
<script src="{{ url_for('static', path='/asset/js/plugins/jquery.vmap.sampledata.js') }}"></script>
<script src="{{ url_for('static', path='/asset/js/plugins/chart.min.js') }}"></script>


{% endblock content %}
