<div class="container-fluid mimin-wrapper">
    <!-- start:Left Menu -->
    <div id="left-menu">
        <div class="sub-left-menu scroll">
            <ul class="nav nav-list">
                <li>
                    <div class="left-bg"></div>
                </li>
                <li class="time">
                    <div class="animated fadeInLeft" id="curr_time" style="font-size: 4em; margin-bottom: 0.5em; text-align: center;" >--:--</div>
                    <p class="animated fadeInRight" id="curr_date" style="font-size: 1.2em;">-, - - -</p>
                </li>
                {% include 'nav_menu.html' %}
            </ul>
        </div>
    </div>
    <!-- end: Left Menu -->
</div>

<!-- plugins -->
<script type="text/javascript">
    function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
}

function checkZero(val) {
	if (val < 10){
		return '0' + val}
	return val;
};

async function setPageTime() {
var currentDateObj = document.getElementById('curr_date');
var currentTimeObj = document.getElementById('curr_time');
var monthList = new Array('Січня', 'Лютого', 'Березня', 'Квітня', 'Травня', 'Червня', 'Липня',
        'Серпня', 'Вересня', 'Жовтня', 'Листопада', 'Грудня');
var dayList = new Array("Понеділок", "Вівторок", "Середа", "Четвер", "П'ятниця", "Субота", "Неділя");
var curr_minute = checkZero(new Date().getMinutes());
var next_minute = curr_minute;
var currDate;
var currTime;

while (curr_minute == next_minute) {
	currDate = new Date();
	next_minute = checkZero(currDate.getMinutes())
	currTime = checkZero(currDate.getHours()) + ':' + next_minute
    	var m = monthList[currDate.getMonth()];
	var d = checkZero(currDate.getDate());
	var d_str = dayList[currDate.getDay()];
	var y = currDate.getFullYear();
	var str = d_str + ', ' + d + ' ' + m + ' ' + y;

    currentTimeObj.innerHTML=currTime;
    currentDateObj.innerHTML=str;
	await sleep(1000);
};

while (true) {
	currDate = new Date();
	currTime = checkZero(currDate.getHours()) + ':' + checkZero(currDate.getMinutes())
    	var m = monthList[currDate.getMonth()];
	var d = checkZero(currDate.getDate());
	var d_str = dayList[currDate.getDay()];
	var y = currDate.getFullYear();
	var str = d_str + ', ' + d + ' ' + m + ' ' + y;

    currentTimeObj.innerHTML=currTime;
    currentDateObj.innerHTML=str;
	await sleep(60000);

};

}

    setPageTime();
</script>