<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Комунальні послуги</title>

    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/asset/css/bootstrap.min.css')}}">

    <!-- plugins -->
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', path='/asset/css/plugins/font-awesome.min.css')}}"/>
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', path='/asset/css/plugins/simple-line-icons.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/asset/css/plugins/animate.min.css')}}"/>
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', path='/asset/css/plugins/icheck/skins/flat/aero.css')}}"/>
    <link href="{{url_for('static', path='/asset/css/style.css')}}" rel="stylesheet">
    <!-- end: Css -->

    <link rel="shortcut icon" href="{{url_for('static', path='/asset/img/icon.png')}}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="mimin" class="dashboard form-signin-wrapper">

<div class="container">

    <form class="form-signin">
        <div class="panel periodic-login">
            <div class="panel-body text-center">
                <h3>Система обліку комунальних послуг</h3>
                <h4>Автентифікація користувача</h4>

                <i class="icons icon-arrow-down"></i>

                <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input type="text" class="form-text" required id="email">
                    <span class="bar"></span>
                    <label>Email</label>
                </div>
                <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input type="password" class="form-text" required id="password">
                    <span class="bar"></span>
                    <label>Пароль</label>
                </div>
                <!--                  bel>-->
                <input type="button" class="btn col-md-12" value="Увійти" id="btn_signin"/>

            </div>
            <div class="text-center" style="padding:5px;">
                <a href="{{url_for('reg')}}">Ще не маєте аккаунта?</a>
            </div>
        </div>
    </form>

</div>

<!-- end: Content -->
<!-- start: Javascript -->
<script src="{{url_for('static', path='/asset/js/jquery.min.js')}}"></script>
<script src="{{url_for('static', path='/asset/js/jquery.ui.min.js')}}"></script>
<script src="{{url_for('static', path='/asset/js/bootstrap.min.js')}}"></script>

<script src="{{url_for('static', path='/asset/js/plugins/moment.min.js')}}"></script>
<script src="{{url_for('static', path='/asset/js/plugins/icheck.min.js')}}"></script>

<!-- custom -->
<script src="{{url_for('static', path='/asset/js/main.js')}}"></script>
<script type="text/javascript">
    const btn = document.getElementById('btn_signin');
    const url = '{{ url_for('signin')}}';

    btn.addEventListener("click", () => {
    let data = get_data();
    if (data) {
    setFetch(data)
    }});



async function setFetch(data) {
try {
    const response = await fetch(url, {
                                    method: 'POST', // или 'PUT'
                                    body: JSON.stringify(data),
                                    headers: {
                                      'Content-Type': 'application/json'
                                    }});
    const response_data = await response.text();
    if (response.status == 200) {
    window.location.replace(`{{url_for('home')}}`)
    } else {alert(response_data)};

;
} catch (e) {
console.error(e);
}
}

function get_data() {

        const m = document.getElementById('email');
        const p = document.getElementById('password');

        data = {
                email: m.value,
                password: p.value
                };

    return data
};
</script>
<!-- end: Javascript -->
</body>
</html>