<li class="active ripple">
    <a href="{{url_for('home')}}">Головна</a>
</li>
<li class="active ripple">
    <a href="{{url_for('addcounterreadings')}}">Внесення показників</a>
</li>
<li class="active ripple">
    <a href="{{url_for('cr')}}">Історія показників</a>
</li>
<li class="active ripple">
    <a href="{{url_for('payments')}}">Сплатити послуги</a>
</li>
<li class="active ripple">
    <a href="{{url_for('pymnt')}}">Історія по оплаті</a>
</li>
<li class="active ripple">
    <a href="{{url_for('add_tariff')}}">Додати новий тариф</a>
</li>
<li class="active ripple">
    <a href="{{url_for('tariffs')}}">Список тарифів</a>
</li>

